<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="shopping_list.css"> 
    </head>
    <body>
        <a>
            <h1>Welcome, Dr.Gaster</h1>
        </a>
        <hr />
        <h3 class="list-title">
            'Shopping List'
        </h3>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <h3>
            Add a new item: <input type="text" name="" id="" placeholder="Item"/>
        </h3>
    </body>
</html>